<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link href="/static/css/topcoat-desktop-light.css" rel="stylesheet"/>
		<link href="/static/css/typeplate-unminified.css" rel="stylesheet"/>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<link href="/static/css/base.css" rel="stylesheet"/>
		<link rel="shortcut icon" href="http://static.guim.co.uk/favicon.ico" type="image/x-icon" />
	</head>

	<body>

		<nav class="top-nav"><a href="/">Latest</a> | <a href="/archive">Archive</a></nav>

		{% block content %}
		{% endblock %}

	</body>
</html>