{% extends 'base.html' %}

{% block title %}Guardian Text Catcher{% endblock %}

{% block content %}
<h1 class="article-heading">Guardian Clippings</h1>

<blockquote>What the world is taking note of on the Guardian</blockquote>

<div class="results">
	<section class="results-all">

		<h2>All clippings</h2>
		<table>
			<thead>
				<th>Count</th>
				<th>Text</th>
			</thead>
			<tbody>
				{% for summary in all %}
				<tr class="result">
					<td><span class="result-count">{{ summary.count }}</span></td>
					<td>
						<div class="result-selected-text">
						{{ summary.text }}
						</div>
						<p class="result-link-bar"><a class="result-link" href="http://www.google.com/search?q={{summary.text}}">Search Google</a> <a class="result-link" href="/content/{{summary.checksum}}">See content</a></p>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
</div>

{% endblock %}
